openapi: 3.2.0
info:
  title: Sushi Token API
  version: 7.0.0
  description: Documentation for interacting with the Sushi API
servers:
- description: Sushi API
  url: https://api.sushi.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/sushi-labs/sushi/7.0.0
tags:
- name: token
  description: All token endpoints
paths:
  /token/v1/{chainId}/{tokenAddress}:
    get:
      tags:
      - token
      summary: returns token data for specified chainId and token
      operationId: token
      description: 'By passing in a chainId and address, you can get token data for specified token address

        '
      parameters:
      - $ref: '#/components/parameters/chainId'
      - $ref: '#/components/parameters/tokenAddress'
      responses:
        '200':
          description: token data
          content:
            application/json:
              schema:
                type: object
                example:
                  chainId: 1
                  address: '0x6B3595068778DD592e39A122f4f5a5cF09C90fE2'
                  decimals: 18
                  name: Sushi Token
                  symbol: SUSHI
        '422':
          description: request parameters invalid
        '500':
          description: internal server error
        '529':
          description: server overloaded
components:
  parameters:
    tokenAddress:
      in: path
      name: tokenAddress
      description: token address
      required: true
      schema:
        type: string
    chainId:
      in: path
      name: chainId
      description: chainId
      required: true
      schema:
        type: number
