openapi: 3.2.0
info:
  title: Sushi Liquidity Providers API
  version: 7.0.0
  description: Documentation for interacting with the Sushi API
servers:
- description: Sushi API
  url: https://api.sushi.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/sushi-labs/sushi/7.0.0
tags:
- name: liquidity-providers
  description: All liquidity provider endpoints
paths:
  /liquidity-providers/v7/{chainId}:
    get:
      tags:
      - liquidity-providers
      summary: Returns all available liquidity providers for the specified chainId
      operationId: getLiquidityProviders
      description: 'By passing in a chainId you can get the enabled liquidity providers.

        '
      parameters:
      - $ref: '#/components/parameters/chainId'
      responses:
        '200':
          description: liquidity providers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                - UniswapV2
                - SushiSwapV2
                - PancakeSwap
                - Elk
                - Kwikswap
                - ShibaSwap
                - CroDefiSwap
                - UniswapV3
                - SushiSwapV3
                - PancakeSwapV3
                - Wagmi
                - CurveSwap
        '422':
          description: request parameters invalid.
        '500':
          description: internal server error.
components:
  parameters:
    chainId:
      in: path
      name: chainId
      description: chainId
      required: true
      schema:
        type: number
