openapi: 3.0.0
info:
  title: Blade Deposit token API
  description: Documentation for interacting with the Blade API
  version: 2.0.0
  contact:
    email: aggregators@shipyardsoftware.org
    name: Blade API Support
servers:
- url: https://blade-api.sushi.com
  description: Blade API Production Server
security:
- ApiKeyAuth: []
tags:
- name: token
  description: All token endpoints
paths:
  /token/v1/{chainId}/{tokenAddress}:
    get:
      tags:
      - token
      summary: returns token data for specified chainId and token
      operationId: token
      description: 'By passing in a chainId and address, you can get token data for specified token address

        '
      parameters:
      - $ref: '#/components/parameters/chainId'
      - $ref: '#/components/parameters/tokenAddress'
      responses:
        '200':
          description: token data
          content:
            application/json:
              schema:
                type: object
                example:
                  chainId: 1
                  address: '0x6B3595068778DD592e39A122f4f5a5cF09C90fE2'
                  decimals: 18
                  name: Sushi Token
                  symbol: SUSHI
        '422':
          description: request parameters invalid
        '500':
          description: internal server error
        '529':
          description: server overloaded
components:
  parameters:
    chainId:
      in: path
      name: chainId
      description: chainId
      required: true
      schema:
        type: number
    tokenAddress:
      in: path
      name: tokenAddress
      description: token address
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key required for all endpoints. In order to prevent abuse on the API we implement rate limits on the requests, to overcome these limits as an aggregator get in contact with the [support team](mailto:aggregators@shipyardsoftware.org) to get API credentials.
